<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="border border-3 border-primary"></div>
        <div class="card bg-white">
          <div class="card-body p-5">
            <form class="mb-3 mt-md-4" method="POST">
              {% csrf_token %}
              <h2 class="fw-bold mb-2 text-uppercase ">StartUp</h2>
              <p class=" mb-5">Please enter your login and password!</p>

              <div class="mb-3">
                <label for="typeUsernameX" class="form-label ">Username</label>
                {{ form.username }}
              </div>

              <!-- First/Lst name -->
              <div class="row">
                <div class="col mb-3">
                  <label for="typeFirstName" class="form-label ">First name</label>
                  {{ form.first_name }}
                </div>
                <div class="col mb-3">
                  <label for="typeLastName" class="form-label ">Last name</label>
                  {{ form.last_name }}
                </div>
              </div>

              <div class="mb-3">
                <label for="typeEmailX" class="form-label ">Email address</label>
                {{ form.email }}
                <div class="invalid-feedback">Enter your email!</div>
              </div>
              <div class="mb-3">
                <label for="typePhoneX" class="form-label ">Phone number</label>
                {{ form.phone_number }}
                <div class="invalid-feedback">Enter your student number.</div>
                <div class="invalid-feedback">For example 12345678.</div>
              </div>
              <div class="mb-3">
                <label for="typePassword1" class="form-label ">Password</label>
                {{ form.password1 }}
              <div class="mb-3">
                <label for="typePassword2" class="form-label ">Repeat password</label>
                {{ form.password2 }}
              </div>
              <div class="d-grid">
                <button class="btn btn-outline-dark" type="submit">Register</button>
              </div>
            </form>
            <div>
              <p class="mb-0  text-center">Already have an account? <a href="{% url 'student_login' %}"
                  class="text-primary fw-bold">Login</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>